.NavbarContainer{
    height: auto;
    width: 100%;
    Background-color: rgb(7, 95, 7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 0;
    justify-content: space-between;
}

.left{
    margin: 10px 0px;
    display: flex;
}

.right{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%
}
button{
    margin: 5px 
}

.NavbarLeft {
    Flex: 3;
    
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 30px
}

.NavbarCenter {
    flex: 5;
    position: relative;
}

.searchbar {
    margin-top: 5px;
    min-width: 200px;
    width: 30%;
    height: 30px;
    background-color:white;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.searchInput {
    position: relative;
    width: 80%;
    display: flex;
    border: none
}

.NavbarRight {
    flex: 4;
    
}

.NavbarImg{
    width: 32px;
    height: 32px;

}